<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Validate the reliability of your news source">
    <meta name="keywords" content="">

    <title>Alathea</title>

    <!-- Styles -->
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.ico">
  </head>

  <body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <nav class="navbar">
      <div class="container">

        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo-alt" href="index.html"><img src="../assets/img/lettera.png" alt="logo-alt"></a>
          </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-primary" href="form_specific.html">Contribute</a>
        </div>
        <!-- END User account -->
        <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a class="active" href="index.html">Home</a>
          </li>
        </ul>
        <!-- END Navigation menu -->
      </div>
    </nav>
    <!-- END Navigation bar -->

    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
      <div class="container no-shadow">
        <h1 class="text-center">The New York Times</h1>
        <p class="lead text-center">Abbreviated as The NYT or The Times. This is an American newspaper based in New York City with worldwide influence and readership. Founded in 1851, the paper has won 122 Pulitzer Prizes, more than any other newspaper.</p>
      </div>
    </header>
    <!-- END Site header -->


    <!-- Main container -->
    <main class="container blog-page">

      <div class="row">

        <div class="col-md-8 col-lg-9">

          <article class="post">
            <div class="post-media">
              <a href="detail.html"><img src="http://i64.tinypic.com/opsrci.jpg" alt="..."></a>
            </div>

            <header>
              <h2><a href="#">Review Score : Great</a></h2>
              <time datetime="2016-04-04 20:00">-</time>
            </header>

            <div class="blog-content">
              <p class="text-justify">The Times has developed a national and international "reputation for thoroughness" over time. Among journalists, the paper is held in high regard; a 1999 survey of newspaper editors conducted by the Columbia Journalism Review found that the Times was the "best" American paper, ahead of The Washington Post, The Wall Street Journal, and Los Angeles Times. The Times also was ranked #1 in a 2011 "quality" ranking of U.S. newspapers by Daniel de Vise of The Washington Post; the objective ranking took into account the number of recent Pulitzer Prizes won, circulation, and perceived Web site quality. A 2012 report in WNYC called the Times "the most respected newspaper in the world."</p>
            </div>

            <p class="read-more">
              <a class="btn btn-primary btn-outline" href="https://www.nytimes.com/">Enter New York Times</a>
            </p>
          </article>

        </div>


          <div class="widget">
            <h6 class="widget-title">Reviews (179)</h6>
            <ul class="widget-body media-list">
              <li>

                <div class="content">
                  <h5><a href="#">The news section is extremely important to read, and I like that it is factual and in-depth coverage.</a></h5>
                  <time datetime="2016-04-04 20:00">January 04, 2018</time>
                </div>
              </li>

              <li>

                <div class="content">
                  <h5><a href="#">Once such an incredible newspaper and still one of the better papers in the US, the Times suffers from a steady decline in quality and a strong corporate and establishment bias. </a></h5>
                  <time datetime="2016-03-28 20:00">December 28, 2017</time>
                </div>
              </li>

              <li>

                <div class="content">
                  <h5><a href="#">Although I enjoy the whole paper, I tend to focus more on the world news reporting and the political reporting.  The NYT gives a more in depth global look at things over any paper in Chicago. </a></h5>
                  <time datetime="2016-03-17 20:00">September 17, 2017</time>
                </div>
              </li>
            </ul>
          </div>


          <div class="widget widget_tag_cloud">
            <h6 class="widget-title">Tags</h6>
            <div class="widget-body">
              <a href="#">credible</a>
              <a href="#">political</a>
              <a href="#">bias</a>
              <a href="#">liberal</a>
              <a href="#">international</a>
              <a href="#">thorough</a>

            </div>
          </div>

        </div>

      </div>

    </main>
    <!-- END Main container -->



    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->

    <!-- Scripts -->
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/custom.js"></script>

  </body>
</html>
